@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/style.min.css");
@import url("https://fonts.cdnfonts.com/css/mona-sans");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  /* color: rgb(0, 0, 0); */
  background-color: rgba(255, 255, 255, 1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Be Vietnam Pro", "Roboto", "Source Sans 3", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  min-width: 500px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.case-study-margins {
  margin-right: auto;
  margin-left: calc(auto / 2);
}

.goldilocks.box {
  --shadow-color: hsl(0, 0%, 68%);
}
.box {
  filter: drop-shadow(1px 3px 10px var(--shadow-color));
}

.code-block {
  font-family: "Menlo", monospace;
  background-color: #f5f5f5;
  padding: 0px 6px;
  border-radius: 6px;
  display: inline-block;
}

.modal-item {
  margin: 0;
  display: inline-block;
  flex-shrink: 0;
  border-radius: 9999px;
  border: 0.1rem solid #e5e7eb;
  padding: 0;
  color: #4b5563;
}

.modal-item:hover {
  border-color: #d1d5db;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  --tw-text-opacity: 1;
  color: rgb(40 40 42 / var(--tw-text-opacity, 1)); /* HARRIER BLACK */
  background-color: rgb(236 236 236 / 0.5);
}

.bird {
  top: 20%;
  width: 30px;
  transform: translateX(-500px);
  animation: bird-x-axis 4s infinite linear;
}

.bird-wrapper {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateY(-100px);
  animation: bird-y-axis 1s infinite cubic-bezier(0.2, 0, 0.58, 1);
}

.overview {
  background-color: #fffae6;
  color: black;
  padding: 1rem;
  padding-top: 0.25rem;
  padding-left: 2rem;
}

.callout {
  background-color: #f0f8ff;
  color: black;
  padding: 1rem;
  padding-top: 0.25rem;
  padding-left: 2rem;
}
*:not(img)::selection {
  background-color: #fee01b;
  color: black;
}
@keyframes bird-x-axis {
  50% {
    transform: translateX(470px);
  }
}

@keyframes bird-y-axis {
  50% {
    transform: translateY(100px);
  }
}
/* 
@layer base {
  :root {
    --chart-1: 29 97% 79%;
    --chart-2: 210 100% 65%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 213 94% 89%;
  }
} */
